################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/.vs/src/FileContentIndex/35d4d1b1-e1bf-478a-ad1f-1590cc651cf8.vsidx
/src/.vs/src/FileContentIndex/61a61d04-62ba-40d3-9fce-2b85443cd39a.vsidx
/src/.vs/src/FileContentIndex/7a897694-84ab-47e6-9504-894448778cdb.vsidx
/src/.vs/src/FileContentIndex/c649ca09-2edb-4533-ab52-2952924a5b06.vsidx
/src/.vs/src/FileContentIndex/e61765d7-0c55-485c-9344-e849cdef0580.vsidx


# Visual Studio sample files
*.suo
*.cache
*.pdb
*.user
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.log
*.ilk
*.meta
*.obj
*.pch
*.idb
*.manifest
*.ipch
*.aps
*.pch
*.exp
*.res
*.aps
*.vspx
*.vspscc
*.vssscc
*.vcxproj.filters
*.vcxproj.user
*.plg
*.vsprops
*.vup
*.bak
[Bb]in/
/src/.vs/src/FileContentIndex/39ee4e8e-1ed1-4960-a039-346991fd559e.vsidx
/src/.vs/src/FileContentIndex/45f582d5-d1a6-4802-a91e-a1472c8f04ea.vsidx
/src/.vs/src/FileContentIndex/79ff5d22-042d-476d-9c07-687a19e59d89.vsidx
/src/.vs/src/FileContentIndex/acda6820-143f-4158-8ec5-3a4e9dd318f0.vsidx
/src/.vs/src/FileContentIndex/e8e55a7b-7627-40f5-90b5-f4d09c389b00.vsidx
/src/.vs/src/FileContentIndex/4c23e0d8-f2ff-411a-b0b4-521d825ae322.vsidx
/src/.vs/src/FileContentIndex/88908587-30d0-467a-8b59-eb5e760996de.vsidx
/src/.vs/src/FileContentIndex/9ba82fc6-f0dc-46d0-b4af-e5e2defaf758.vsidx
